<ul class="dirt-details // {{ dirt_details_classes }}">

	{% if dirt_details_view_gallery_value_text %}
		<li>
			<a href="{{ dirt_details_view_gallery_url }}" class="lrv-a-unstyle-link">
				<span class="{{ dirt_details_labels_classes }}">
					{{ dirt_details_view_gallery_label_text }}
				</span>
				<div class="u-width-25 lrv-a-glue-parent lrv-u-display-inline-block u-vertical-align-middle">
					{% include '../../build/svg/' ~ dirt_details_gallery_count_svg ~ '.svg' %}
					<div class="lrv-a-glue lrv-a-glue--b-0 lrv-u-width-100p lrv-u-font-size-12 u-font-family-basic lrv-u-flex lrv-u-justify-content-center lrv-u-align-items-center lrv-u-height-100p">
						{{ dirt_details_view_gallery_value_text }}
					</div>
				</div>
			</a>
		</li>
	{% endif %}

	{% if dirt_details_seller_value_text %}
		<li>
			<span class="{{ dirt_details_labels_classes }}">
				{{ dirt_details_seller_label_text }}:
			</span>
			{{ dirt_details_seller_value_text }}
		</li>
	{% endif %}

	{% if dirt_details_location_value_text %}
		<li>
			<span class="{{ dirt_details_labels_classes }}">
				{{ dirt_details_location_label_text }}:
			</span>
			{{ dirt_details_location_value_text }}
		</li>
	{% endif %}

	{% if dirt_details_price_value_text %}
		<li>
			<span class="{{ dirt_details_labels_classes }}">
				{{ dirt_details_price_label_text }}:
			</span>
			{{ dirt_details_price_value_text }}
		</li>
	{% endif %}

	{% if dirt_details_size_value_text %}
		<li>
			<span class="{{ dirt_details_labels_classes }}">
				{{ dirt_details_size_label_text }}:
			</span>
			{{ dirt_details_size_value_text }}
		</li>
	{% endif %}

</ul>
